* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

h1, p {
    text-align: center;
}

.responsive-img {
    width: 100%;
    height: auto;
    max-width: 500px;
    margin: 0 auto;
    display: block;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #ff4500;
}

footer {
    text-align: center;
    padding: 20px 0;
}

header {
    background-color: #ffebcd;
    padding: 50px 0;
}

section.intro {
    margin-top: 20px;
}

.cake {
    margin-top: 50px;
}

.messages {
    margin-top: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    padding: 20px;
}
